<html>

	<head>
		<title>
			<meta charset="UTF-8" />
		</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin-index-top.css" />
	<script src="/javascripts/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>

	<body>

		<div id="header-div">
			<div id="logo-div" style="bgcolor:#000000;"><img src="/admin-index-imgs/topLogo.png" alt="ECSHOP - power for e-commerce"></div>
			<div id="license-div" style="bgcolor:#000000;"></div>
			<div id="submenu-div">
				<ul>
					<li>
						<a href="#" target="main-frame"><img src="/admin-index-imgs/topmune_08.png" style="border:none;"><span>退出</span></a>
					</li>
					<li>
						<a href="#" target="main-frame" class="fix-submenu"><img src="/admin-index-imgs/qingchu.png" style="border:none;"><span>清除缓存</span></a>
					</li>
					<li>
						<a href="#" target="main-frame"><img src="/admin-index-imgs/topmune_07.png" style="border:none;"><span>关于 ECSHOP</span></a>
					</li>

					<li>
						<a href="#"><img src="/admin-index-imgs/topmune_007.png" style="border:none;"><span>帮助</span></a>
					</li>
					<li>
						<a href="#" target="_blank"><img src="/admin-index-imgs/topmune_06.png" style="border:none;"><span>查看网店</span></a>
					</li>
					<li>
						<a href="#" target="main-frame"><img src="/admin-index-imgs/topmune_02.png" style="border:none;"><span>管理员留言</span></a>
					</li>
					<li>
						<a href="#" target="main-frame"><img src="/admin-index-imgs/topmune_04.png" style="border:none;"><span>个人设置</span></a>
					</li>
					<li>
						<a href="#"><img src="/admin-index-imgs/topmune_03.png" style="border:none;"><span>刷新</span></a>
					</li>
					<li>
						<a href="#"><img src="/admin-index-imgs/topmune_02.png" style="border:none;"><span>记事本</span></a>
					</li>

					<li style="">
						<a href="#" target="main-frame"><img src="/admin-index-imgs/topmune_01.png" style="border:none;"><span>开店向导</span></a>
					</li>
					<li style="width:102px;border-left:none;">
						<a href="#" target="main-frame" style="color:#ff0; width:102px; font-weight:bold;"><img src="/admin-index-imgs/topmune_09.png" style="border:none;"><span>更多模板堂产品</span></a>
					</li>
				</ul>
				<div id="send_info" style="padding: 5px 10px 0 0; clear:right;text-align: right; color: #FF9900;width:40%;float: right;  display:none;">
					<a href="#" target="main-frame" class="fix-submenu">清除缓存</a>
					<a href="#" target="_top" class="fix-submenu">退出</a>
				</div>
				<div id="load-div" style="padding: 5px 10px 0px 0px; text-align: right; color: rgb(255, 153, 0); display: none; width: 40%; float: right;"><img src="index_data/top_loader.gif" alt="正在处理您的请求..." style="vertical-align: middle" width="16" height="16"> 正在处理您的请求...</div>
			</div>
		</div>
		<div id="menu-div">
			<ul>
				<li class="fix-spacel">&nbsp;</li>
				<li style="border-left:none;">
					<a href="#" target="main-frame">
						<img src="/admin-index-imgs/index-11_07.png" style="border:none;" width="17" height="18" align="absmiddle">
						<span>起始页</span></a><span class="muneFG"></span></li>

				<li>
					<a href="#" target="main-frame"><img src="/admin-index-imgs/index-11_41.png" width="17" height="18" align="absmiddle"><span>设置导航栏</span></a><span class="muneFG"></span></li>
				<li>
					<a href="#" target="main-frame"><img src="/admin-index-imgs/index-11_09.png" width="17" height="18" align="absmiddle"><span>商品管理</span><span class="num">7</span></a><span class="muneFG"></span></li>
				<li>
					<a href="#" target="main-frame"><img src="/admin-index-imgs/index-11_13.png" width="15" height="18" align="absmiddle"><span>订单管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
				<li>
					<a href="#" target="main-frame"><img src="/admin-index-imgs/dd.png" width="17" height="20" align="absmiddle"><span>广告管理</span><span class="num">2</span></a><span class="muneFG"></span></li>
				<li>
					<a href="#" target="main-frame"><img src="/admin-index-imgs/index-11_19.png" width="17" height="18" align="absmiddle"><span>用户评论</span><span class="num">0</span></a><span class="muneFG"></span></li>
				<li><a href="#" target="main-frame">商品列表</a></li>
				<li><a href="#" target="main-frame">订单列表</a></li>
				<li><a href="#" target="main-frame">用户评论</a></li>
				<li><a href="#" target="main-frame">会员列表</a></li>
				<li><a href="#" target="main-frame">商店设置</a></li>
				<li><a href="#" target="main-frame">移动版</a></li>
				<li><a href="#" target="main-frame">服务市场</a></li>
				<li class="fix-spacer">&nbsp;</li>
			</ul>
			<br class="clear">
		</div>

		<div id="tabbar-div">
			<p>
				<span class="tab-front" id="menu-tab">导航菜单</span>
			</p>
		</div>
		<div id="main-div">
			<div id="menu-list">
				<ul id="menu-ul">
					<li class="collapse lis ico_1" key="02_cat_and_goods" name="menu" key_data1="lis ico_1" key_data2="lis ico2_1">
						商品管理
						<ul style="display:none;">
							<li class="menu-item"><a href="javascript:;">商品列表</a></li>
							<li class="menu-item"><a href="javascript:;">添加新商品</a></li>
							<li class="menu-item"><a href="#">商品分类</a></li>
							<li class="menu-item"><a href="#">用户评论</a></li>
							<li class="menu-item"><a href="#">商品品牌</a></li>
							<li class="menu-item"><a href="#">商品类型</a></li>
							<li class="menu-item"><a href="#">商品回收站</a></li>
							<li class="menu-item"><a href="#">图片批量处理</a></li>
							<li class="menu-item"><a href="#">商品批量上传</a></li>
							<li class="menu-item"><a href="#">商品批量导出</a></li>
							<li class="menu-item"><a href="#">商品批量修改</a></li>
							<li class="menu-item"><a href="#">生成商品代码</a></li>
							<li class="menu-item"><a href="#">标签管理</a></li>
							<li class="menu-item"><a href="#">虚拟商品列表</a></li>
							<li class="menu-item"><a href="#">添加虚拟商品</a></li>
							<li class="menu-item"><a href="#">更改加密串</a></li>
							<li class="menu-item"><a href="#">商品自动上下架</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_2" key="03_promotion" name="menu" key_data1="lis ico_2" key_data2="lis ico2_2">
						促销管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">夺宝奇兵</a></li>
							<li class="menu-item"><a href="#">红包类型</a></li>
							<li class="menu-item"><a href="#">商品包装</a></li>
							<li class="menu-item"><a href="#">祝福贺卡</a></li>
							<li class="menu-item"><a href="#">团购活动</a></li>
							<li class="menu-item"><a href="#">专题管理</a></li>
							<li class="menu-item"><a href="#">拍卖活动</a></li>
							<li class="menu-item"><a href="#">优惠活动</a></li>
							<li class="menu-item"><a href="#">批发管理</a></li>
							<li class="menu-item"><a href="#">超值礼包</a></li>
							<li class="menu-item"><a href="#">积分商城商品</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_3" key="04_order" name="menu" key_data1="lis ico_3" key_data2="lis ico2_3">
						订单管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">订单列表</a></li>
							<li class="menu-item"><a href="#">订单查询</a></li>
							<li class="menu-item"><a href="#">合并订单</a></li>
							<li class="menu-item"><a href="#">订单打印</a></li>
							<li class="menu-item"><a href="#">缺货登记</a></li>
							<li class="menu-item"><a href="#">添加订单</a></li>
							<li class="menu-item"><a href="#">发货单列表</a></li>
							<li class="menu-item"><a href="#">退货单列表</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_4" key="05_banner" name="menu" key_data1="lis ico_4" key_data2="lis ico2_4">
						广告管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">广告列表</a></li>
							<li class="menu-item"><a href="#">广告位置</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_5" key="06_stats" name="menu" key_data1="lis ico_5" key_data2="lis ico2_5">
						报表统计
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_6" key="07_content" name="menu" key_data1="lis ico_6" key_data2="lis ico2_6">
						文章管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_7" key="08_members" name="menu" key_data1="lis ico_7" key_data2="lis ico2_7">
						会员管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">会员列表</a></li>
							<li class="menu-item"><a href="#">添加会员</a></li>
							<li class="menu-item"><a href="#">会员等级</a></li>
							<li class="menu-item"><a href="#">会员整合</a></li>
							<li class="menu-item"><a href="#">会员留言</a></li>
							<li class="menu-item"><a href="#">充值和提现申请</a></li>
							<li class="menu-item"><a href="#">资金管理</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_8" key="10_priv_admin" name="menu" key_data1="lis ico_8" key_data2="lis ico2_8">
						权限管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">会员列表</a></li>
							<li class="menu-item"><a href="#">添加会员</a></li>
							<li class="menu-item"><a href="#">会员等级</a></li>
							<li class="menu-item"><a href="#">会员整合</a></li>
							<li class="menu-item"><a href="#">会员留言</a></li>
							<li class="menu-item"><a href="#">充值和提现申请</a></li>
							<li class="menu-item"><a href="#">资金管理</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_9" key="11_system" name="menu" key_data1="lis ico_9" key_data2="lis ico2_9">
						系统设置
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_10" key="12_template" name="menu" key_data1="lis ico_10" key_data2="lis ico2_10">
						模板管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_11" key="13_backup" name="menu" key_data1="lis ico_11" key_data2="lis ico2_11">
						数据库管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_12" key="14_sms" name="menu" key_data1="lis ico_12" key_data2="lis ico2_12">
						短信管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">发送短信</a></li>
							<li class="menu-item"><a href="#">短信签名</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_13" key="15_rec" name="menu" key_data1="lis ico_13" key_data2="lis ico2_13">
						推荐管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">推荐设置</a></li>
							<li class="menu-item"><a href="#">分成管理</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_14" key="16_email_manage" name="menu" key_data1="lis ico_14" key_data2="lis ico2_14">
						邮件群发管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">流量分析</a></li>
							<li class="menu-item"><a href="#">客户统计</a></li>
							<li class="menu-item"><a href="#">订单统计</a></li>
							<li class="menu-item"><a href="#">销售概况</a></li>
							<li class="menu-item"><a href="#">会员排行</a></li>
							<li class="menu-item"><a href="#">销售明细</a></li>
							<li class="menu-item"><a href="#">搜索引擎</a></li>
							<li class="menu-item"><a href="#">销售排行</a></li>
							<li class="menu-item"><a href="#">访问购买率</a></li>
							<li class="menu-item"><a href="#">站外投放JS</a></li>
						</ul>
					</li>
					<li class="collapse lis ico_15" key="18_lead_manage" name="menu" key_data1="lis ico_15" key_data2="lis ico2_15">
						移动版管理
						<ul style="display:none;">
							<li class="menu-item"><a href="#">移动版</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="help-div" style="display:none">
				<h1 id="help-title"></h1>
				<div id="help-content"></div>
			</div>
		</div>

		<!--//main中间部分-->
		<div class="dabox-right">
			<h1 style="margin">欢迎登陆</h1>
		</div>

	</body>
	<script type="text/javascript">
		var oUl = document.getElementsByClassName("collapse");
		var oUlLenght = oUl.length;
		var flag = true;
		for (var i = 0; i < oUlLenght; i++) {
			oUl[i].onclick = function() {
				if (flag == true) {
					for (var j = 0; j < oUlLenght; j++) {
						oUl[j].children[0].style.display = "none";
					}
					this.children[0].style.display = "block";
					flag = false;
				} else {
					this.children[0].style.display = "block";
					for (var j = 0; j < oUlLenght; j++) {
						oUl[j].children[0].style.display = "none";
					}
					flag = true;
				}
			}
		}
		var Daboxright = document.getElementsByClassName("dabox-right")[0]
		var oIco1 = document.getElementsByClassName("ico_1")[0].children[0].children[0].children[0]
		var oIco2 = document.getElementsByClassName("ico_1")[0].children[0].children[1].children[0]
		oIco1.onclick = function() {
			$(".dabox-right").load("main-shop")
		}
		oIco2.onclick = function() {
			$(".dabox-right").load("addgoods")
		}
		
	</script>

</html>